{% extends 'base.html.twig' %}

{% block title %} Guided Match Journey - searched for {{searchBy}}  - {{pageTitle}}{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}{% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}
    <div class="govuk-width-container">
        {{ include('includes/phase_banner.html.twig') }}

        <span class='hidden_msgs' id="back-to_prev"> to previous question</span>
        {% if journeysPage is defined and journeysPage > 1 %}
            <a 
            aria-describedby="back-to_prev"
            href="{{ 
                path('guided-match-journeys')}}?q={{ searchByEncoded }}"
                class="govuk-back-link">Back</a>
        {% elseif redirectToResultPage %}
            <a 
            aria-describedby="back-to_prev"
            href="{{ 
                path( 
                    'journey-result',
                    {
                        'journeyId': journeyId,
                        'journeyInstanceId': journeyInstanceId,
                        'agreements' : agreements
                    }
                    )}}?q={{ searchByEncoded }}"
                class="govuk-back-link">Back</a>

        {% elseif  journeyHistory|length < 2 %}
            <a 
            aria-describedby="back-to_prev"
            href="{{ 
                path( 
                    'start-journey',
                    {
                        'journeyUuidAndDomain': journeyId,
                    }
                    )}}?q={{ searchByEncoded }}"
                class="govuk-back-link">Back</a>
        {% else %}
            <a 
            aria-describedby="back-to_prev"
            href="{{ 
                path( 
                    'back-to-previous',
                    {
                        'journeyId': journeyId,
                        'journeyInstanceId': journeyInstanceId,
                        'questionUuid': lastQuestionId,
                        'journeyHistory': journeyHistory, 
                        'gPage': lastPage,
                    }
                    )}}?q={{ searchByEncoded }}"
                class="govuk-back-link">Back</a>
        {% endif %}

        <main class="govuk-main-wrapper" id="main-content">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full restrict-width">
                    <h1 class="govuk-heading-xl page-title govuk-!-margin-bottom-5">Before you contact CCS</h1>
                    <p>
                        If you can’t find what you’re looking for on our website or you have complex buying needs contact our customer service team.
                        We can help you find the right framework. 
                    </p>  
                    {% include "/results_page_items/answers.html.twig" with {'lotstTitle': '', 'changeAnswer':1,'redirectToSearch':1} %}
            
                    <div class="contact-ccs-btn app-c-print-link">
                         {% include "/includes/print-page.html.twig" %}
                    </div>

                    <div class="contact-ccs-btn">
                        <a href="https://www.crowncommercial.gov.uk/contact" role="button"  class="govuk-button"> Contact CCS </a>
                    </div>

                    <div class="contact-ccs-btn">
                         {% include "/includes/start_change_answers_btn.html.twig" %}
                    </div>
                    
                </div>
            </div>
        </main>
    </div>
{% endblock %}