{% extends 'base.html.twig' %}

{% block title %}Guided Match{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}{% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}
    <!-- required wrapper 1 -->
    <div class="govuk-width-container">
        {% include "/includes/phase_banner.html.twig" %}
        
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="https://www.crowncommercial.gov.uk/">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="{{ path( 'back_to_search') }}?q={{ searchBy }}">Search
                        framework</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="Guided match">Guided match</li>
            </ol>
        </div>

        {% if  gPage >  1  and  journeyHistory is defined %}
            <a href="{{ 
                path( 
                    'back-to-previous',
                    {
                        'journeyId': journeyId,
                        'journeyInstanceId': journeyInstanceId,
                        'questionUuid': lastQuestionId,
                        'journeyHistory': journeyHistory, 
                        'gPage': lastPage,
                    }
                    )}}?q={{ searchBy }}"
                class="govuk-back-link">Back</a>
        {% endif %}
        <!-- required wrapper 2 -->
        <main class="govuk-main-wrapper questions-page" id="main-content" role="main">
            <div class="govuk-grid-row">

                <form action="{{ path('question_page', {'journeyId': journeyId ,'journeyInstanceId': journeyInstanceId ,'questionUuid': uuid, 'gPage': gPage}) }}?q={{ searchBy }}"
                      onsubmit="return validate()" name="question" method="post">
                    <div class="govuk-form-group {{ errorMessage is defined ? 'govuk-form-group--error' }}" id="form-layout">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-fieldset__heading">{{ text }}</h1>
                            </legend>
                            {% if  hint is defined %}
                                <span id="changed-name-hint" class="govuk-hint">{{- hint -}}</span>
                            {% endif %}

                            {% include"/includes/question_error.html.twig" %}

                            {% include "/questions_types/#{type}.html.twig" %}
                        </fieldset>
                    </div>
                    {% if  gPage >  1  and  journeyHistory is defined %}
                        <input type='hidden' name='lastQuestionId' value="{{ lastQuestionId }}">
                        <input type='hidden' name='journeyHistory' value="{{ journeyHistory }}">
                    {% endif %}
                    <button class="govuk-button" data-module="govuk-button" type="submit">
                        Continue
                    </button>
                </form>

            </div>
        </main>
    </div>
{% endblock %}
