{% extends 'base.html.twig' %}

{% block title %} Guided Match Journey - searched for {{searchBy}}  - {{pageTitle}}{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}{% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}
    <!-- required wrapper 1 -->
    <div class="govuk-width-container">
        {% include "/includes/phase_banner.html.twig" %}

        {% if  gPage >  1  and  journeyHistory is defined %}
            <span class='hidden_msgs' id="back-to_prev"> to previous question</span>
            <a 
            aria-describedby="back-to_prev" 
            href="{{ 
                path( 
                    'back-to-previous',
                    {
                        'journeyId': journeyId,
                        'journeyInstanceId': journeyInstanceId,
                        'questionUuid': lastQuestionId,
                        'journeyHistory': journeyHistory, 
                        'gPage': lastPage,
                    }
                    )}}?q={{ searchBy|url_encode }}"
                class="govuk-back-link">Back</a>
        {% else %}

          <span class='hidden_msgs' id="back-to-landing-page"> to start journey page</span>
          <a aria-describedby="back-to-landing-page" href="{{ path('guided-match-journeys')}}?q={{ searchBy|url_encode }}&journeyId={{journeyId}}&r=back" class="govuk-back-link">Back</a>
        {% endif %}
        <!-- required wrapper 2 -->
        <main class="govuk-main-wrapper questions-page" id="main-content">
            <div class="govuk-grid-row restrict-width">

                <form action="{{ path('question_page', {'journeyId': journeyId ,'journeyInstanceId': journeyInstanceId ,'questionUuid': uuid, 'gPage': gPage}) }}?q={{ searchBy|url_encode}}" 
                onsubmit="return validate()" name="question" method="post">
                    
                    {% include"/includes/question_error_summary.html.twig" %}
                    <div class="govuk-form-group {{ errorMessage is defined  and showError is defined  ? 'govuk-form-group--error' }}" id="form-layout">

                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-fieldset__heading">{{ text }}</h1>
                            </legend>
                            {% if  hint is defined %}
                            <div role="complementary">
                                <div id="changed-name-hint" class="govuk-hint">{{- hint|raw -}}</div>
                            </div>
                            {% endif %}
                            {% include"/includes/question_error.html.twig" %}

                            {% include "/questions_types/#{type}.html.twig" %}
                        </fieldset>
                    </div>
                    {% if  gPage >  1  and  journeyHistory is defined %}
                        <input type='hidden' id='lastQuestionId' name='lastQuestionId' value="{{ lastQuestionId }}">
                        <input type='hidden' id='journeyHistory' name='journeyHistory' value="{{ journeyHistory }}">
                    {% endif %}
                        <input type="hidden" name="token" value="{{ csrf_token('save-answers') }}"/>

                    <button class="govuk-button" data-module="govuk-button" type="submit">
                        Continue
                    </button>
                </form>
                <span class='hidden_msgs' id="contact-ccs-intermediar-page">Contact CCS - intermediar page</span>

                <p class="govuk-body">Need help with this service? 
                
                {% if journeyHistory is not empty %}
                <a 
                 aria-describedby="contact-ccs-intermediar-page"
                href="{{ 
                path( 
                    'contact-ccs-page',
                    {
                        'journeyId': journeyId,
                        'journeyInstanceId': journeyInstanceId,
                        'questionUuid': uuid,
                        'journeyHistory': journeyHistory, 
                        'gPage': currentPage,

                    }
                    )}}?q={{ searchBy|url_encode }}"
               >Contact CCS</a>
               {% else %}
                    <a 
                    aria-describedby="contact-ccs-intermediar-page"
                    href="{{ 
                    path( 'contact-ccs-page-journeys')}}?q={{ searchBy|url_encode }}"
                >Contact CCS</a>
               {% endif %}
               </p>
            </div>
        </main>
    </div>
{% endblock %}
{% block script %}
    {{ parent() }}
    <script src="{{ asset('find-a-commercial-agreement/scripts/question_types_validators.js') }}" ></script>
{% endblock %}
