{% extends 'base.html.twig' %}

{% block title %} Guided Match Journey - searched for {{searchBy}}  - {{pageTitle}}{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}{% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}
    <!-- required wrapper 1 -->
    <div class="govuk-width-container">
        {% include "/includes/phase_banner.html.twig" %}
            <span class='hidden_msgs' id="back-to-search-result"> to search result</span>
            <a aria-describedby="back-to-search-result" class="govuk-back-link" href="/agreements/search?q={{ searchBy }}&feature=guidedmatch" >Back</a>
        <!-- required wrapper 2 -->
        <main class="govuk-main-wrapper " id="main-content">
        <section>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full restrict-width">
                        <h1 class="govuk-heading-xl page-title">Find a commercial agreement</h1>
                        <p class="govuk-body page-intro">Use this service to find out which agreements could meet your requirements.</p>
                        <h2 class="govuk-heading-m">Before you start</h2>
                        <p class="govuk-body">It may be helpful to know the following information:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>the product or service you need</li>
                            <li>your estimated budget</li>
                            <li>the sector and organisation you're buying for</li>
                            <li>if you're buying a service, an estimated length of contract and location of where the work
                                needs to take place
                            </li>
                        </ul>

                        <a href="{{ path('guided-match-journeys')}}?q={{searchBy|url_encode}}" role="button" 
                        class="govuk-button govuk-button--start govuk-!-margin-top-6 govuk-!-margin-bottom-9" 
                        data-module="govuk-button">Start now</a>
                    </div>
                </div>
            </section>
        </main>
    </div>
{% endblock %}
