{% extends 'base.html.twig' %}

{% block title %} Guided Match Journey - searched for {{searchBy}}  - {{pageTitle}}{% endblock %}

{% block header %}
{% embed '/includes/header.html.twig' %}
{% block bannerarea %}{% endblock %}
{% endembed %}
{% endblock %}


{% block body %}
<div class="--govuk-width-container">
    <div class="govuk-width-container">
        {{ include('includes/phase_banner.html.twig') }}
        <span class='hidden_msgs' id="back-to_prev"> to previous question</span>
        <a 
        aria-describedby="back-to_prev"
        href="{{ 
        path( 
        'back-to-previous',
        {
            'journeyId': journeyId,
            'journeyInstanceId': journeyInstanceId,
            'questionUuid': lastQuestionId,
            'journeyHistory': journeyHistory, 
            'gPage': lastPage,
        }
        )}}?q={{ searchBy }}"
        class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper" id="main-content">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div>
                        <h2 class="govuk-heading-xl page-title govuk-!-margin-bottom-2">Based on your answers, we think there 
                            {{countFrameworks > 1 ? 'are':'is'}} </h2>
                            <h1 class="govuk-heading-xl page-title">
                                <strong>{{ countFrameworks }} framework{{countFrameworks > 1 ? 's'}}
                                    {% if  countLots > 0 %}
                                    and {{ countLots }} {{  countLots == 1 ? 'lot':'lots' }}
                                    {% endif %}
                                    that match your needs
                                </strong>
                            </h1>
                        </div>

                        {{ include('results_page_items/section_anchors.html.twig') }}

                        <div class="govuk-grid-column-three-quarters restrict-width">
                            {% set lotstTitle = '' %}
                            {% for framework in frameworks %}
                            {% if  framework is not empty %}
                            {% set lotstTitle = framework.lotsTitle %}
                            {% endif %}
                            {% endfor %}
                            
                            <section id="recommendations">
                                <h2 class="govuk-heading-l result-heading">Recommendations agreements</h2>
                                {{ include('results_page_items/recommendations.html.twig') }}
                            </section>

                            <section id="options">
                                <h2 class="govuk-heading-l result-heading">Your next steps</h2>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>Read the framework documentation for
                                        {% for agreement in agreementsNames %}
                                        <a class='govuk-link' href="https://www.crowncommercial.gov.uk/agreements/{{ agreement.number }}"> {{ agreement.name }}</a>
                                        {% endfor %}
                                        to understand what's available
                                    </li>
                                    <li>
                                        <a href="{{ 
                                        path( 
                                        'contact-ccs-page',
                                        {
                                            'journeyId': journeyId,
                                            'journeyInstanceId': journeyInstanceId,
                                            'questionUuid': lastQuestionId,
                                            'journeyHistory': journeyHistory, 
                                            'gPage': lastPage,

                                        }
                                        )}}?q={{ searchBy }}&resultPage=1&agreements={{ agreements }}">Contact CCS</a>
                                        to get more information, or to start the buying process
                                    </li>
                                    <li>Use the buttons to start online procurement for your chosen framework</li>
                                </ul>
                            </section>
                            <section id="answers">
                                {% include "/results_page_items/answers.html.twig" with {'lotstTitle': lotstTitle,'changeAnswer':1} %}

                                <div style="margin-bottom: 2em; margin-top: 2em" class="no-print">
                                    <a class="print-link govuk-link" rel="alternate" onclick="window.print();return false;">Print this page</a>
                                </div>
                            </section>

                            <section id="definitions">

                                <h2 class="govuk-heading-l result-heading">Routes to market definitions</h2>
                                {% include "/results_page_items/definitions.html.twig" %}


                                <a class="govuk-button govuk-button--secondary no-print" data-module="govuk-button" 
                                href="{{ path('start-journey', {'journeyUuid': journeyId})}}?q={{searchBy}}">
                            Start again to change your answers</a>

                            <div style="background-color: #f3f2f1; padding: 0.5em">
                                <h4 class="govuk-heading-s">Tell us what you think</h3>
                                <p class="govuk-body"><a href="https://www.smartsurvey.co.uk/s/QWDZX/"  target="_blank">Provide feedback</a> to help us improve this service. The survey takes about 1 minute to complete. There are 4 questions and they are all optional.</p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}