{% extends 'base.html.twig' %}

{% block title %} Guided Match Journey - searched for {{searchBy}}  - {{pageTitle}}{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}{% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}
    <div class="--govuk-width-container">
        <div class="govuk-width-container">
            {{ include('includes/phase_banner.html.twig') }}
            {{ include('includes/breadcrumb_result_page.html.twig') }}
            <main class="govuk-main-wrapper" id="main-content">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div>
                            <h2 class="govuk-heading-xl page-title govuk-!-margin-bottom-2">Based on your answers, there
                                are </h2>
                            <h1 class="govuk-heading-xl page-title">
                                <strong>{{ countFrameworks }} frameworks that match your needs
                                    {% if  countLots > 0 %}
                                        and {{ countLots }} {{  countLots == 1 ? 'lot':'lots' }}
                                    {% endif %}
                                </strong>
                            </h1>
                        </div>
                       
                        {{ include('results_page_items/section_anchors.html.twig') }}

                        <div class="govuk-grid-column-three-quarters">
                            {% set lotstTitle = '' %}
                            {% for framework in frameworks %}
                                {% if  framework is not empty %}
                                    {% set lotstTitle = framework.lotsTitle %}
                                {% endif %}
                            {% endfor %}
                            
                            <h2 class="govuk-heading-l result-heading" id="recommendations">Recommendations</h2>
                            {{ include('results_page_items/recommendations.html.twig') }}

                            <h2 class="govuk-heading-l result-heading" id="options">What are your options?</h2>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>Read the framework documentation for
                                    {% for agreement in agreementsNames %}
                                        <a class='govuk-link' href="https://www.crowncommercial.gov.uk/agreements/{{ agreement.number }}"> {{ agreement.name }}</a>
                                    {% endfor %}
                                    to understand what's available
                                </li>
                                <li>
                                    <a class="govuk-link" href="https://www.crowncommercial.gov.uk/contact">Contact
                                        CCS</a>
                                    to get more information, or to start the buying process
                                </li>
                                <li>Use the buttons to start online procurement for your chosen framework</li>
                            </ul>

                            <h2 class="govuk-heading-l result-heading" id="definitions">Definitions</h2>
                            {% include "/results_page_items/definitions.html.twig" %}

                            <h2 class="govuk-heading-l result-heading" id="answers">Your answers</h2>
                            {% include "/results_page_items/answers.html.twig" with {'lotstTitle': lotstTitle,'changeAnswer':1} %}

                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}