{% extends 'base.html.twig' %}

{% block title %} Guided Match Journey - searched for {{searchBy}}  - {{pageTitle}}{% endblock %}

{% block header %}
{% embed '/includes/header.html.twig' %}
{% block bannerarea %}{% endblock %}
{% endembed %}
{% endblock %}


{% block body %}
<div class="--govuk-width-container">
    <div class="govuk-width-container">
        {{ include('includes/phase_banner.html.twig') }}
        <span class='hidden_msgs' id="back-to_prev"> to previous question</span>
        <a 
        aria-describedby="back-to_prev"
        href="{{ 
        path( 
        'back-to-previous',
        {
            'journeyId': journeyId,
            'journeyInstanceId': journeyInstanceId,
            'questionUuid': lastQuestionId,
            'journeyHistory': journeyHistory, 
            'gPage': lastPage,
        }
        )}}?q={{ searchByEncoded }}"
        class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper" id="main-content">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div>
                        <h1 class="govuk-heading-xl page-title govuk-!-margin-bottom-2">Based on your answers, we think there 
                            {{countFrameworks > 1 ? 'are':'is'}} </h2>
                            <h2 class="govuk-heading-xl page-title">
                                <strong>{{ countFrameworks }} agreement{{countFrameworks > 1 ? 's'}}
                                    {% if  countLots > 0 %}
                                    and {{ countLots }} {{  countLots == 1 ? 'lot':'lots' }}
                                    {% endif %}
                                    that match your needs
                                </strong>
                            </h1>
                        </div>

                        {{ include('results_page_items/section_anchors.html.twig') }}

                        <div class="govuk-grid-column-three-quarters restrict-width">
                            {% set lotstTitle = '' %}
                            {% for framework in frameworks %}
                            {% if  framework is not empty %}
                            {% set lotstTitle = framework.lotsTitle %}
                            {% endif %}
                            {% endfor %}
                            
                            <section id="recommendations">
                                <h2 class="govuk-heading-l result-heading">Recommended agreements</h2>
                                {{ include('results_page_items/recommendations.html.twig') }}
                            </section>

                            <!-- <section id="options">
                                <h2 class="govuk-heading-l result-heading">Your next steps</h2>
                                <ul class="govuk-list govuk-list">
                                    <li>1. Read the framework documents  for
                                        {% for agreement in agreementsNames %}
                                        <a class='govuk-link' href="https://www.crowncommercial.gov.uk/agreements/{{ agreement.number }}"> {{ agreement.name }}</a>
                                        {% endfor %}
                                        to understand what's available
                                    </li>
                                    <li>2. Start the online procurement for your chosen lot</li>
                                </ul>
                            </section> -->

                            <section id="definitions">
                                <h2 class="govuk-heading-l result-heading">Routes to market definitions</h2>
                                {% include "/results_page_items/definitions.html.twig" %}
                            </section>

                            <section id="answers">

                                {% include "/results_page_items/answers.html.twig" with {'lotstTitle': lotstTitle,'changeAnswer':1} %}

                                {% include "/includes/print-page.html.twig" %}
                                
                                <p class="govuk-body">Need help with this service? 
                                    <a 
                                    aria-describedby="contact-ccs-intermediar-page"
                                    href="{{ 
                                    path( 
                                        'contact-ccs-page',
                                        {
                                            'journeyId': journeyId,
                                            'journeyInstanceId': journeyInstanceId,
                                            'questionUuid': 0,
                                            'journeyHistory': journeyHistory, 
                                            'gPage': lastPage,

                                        }
                                        )}}?q={{ searchBy|url_encode }}"
                                >Contact CCS</a></p>

                                {% if journeysPage is defined and  journeysPage is not empty %}
                                    <a class="govuk-button govuk-button--secondary no-print" data-module="govuk-button" 
                                    href="{{ path('guided-match-journeys')}}?q={{searchByEncoded}}">
                                    Start again to change your answers</a>
                                {% else %}
                                    <a class="govuk-button govuk-button--secondary no-print" data-module="govuk-button" 
                                    href="{{ path('start-journey', {'journeyUuid': journeyId})}}?q={{searchByEncoded}}">
                                    Start again to change your answers</a>
                                {% endif %} 
                                
                                <div style="background-color: #f3f2f1; padding: 0.5em">
                                    <h3 class="govuk-heading-s">Tell us what you think</h3>
                                    <p class="govuk-body"><a href="https://www.smartsurvey.co.uk/s/QWDZX/"  target="_blank">Provide feedback
                                    </a> to help us improve this service. The survey takes about 1 minute to complete. All of the questions are optional.</p>
                                </div>
                            </section>
                            
                        </div>
                    </div>
                </div>
        </main>
    </div>
</div>
{% endblock %}
{% block script %}
    {{ parent() }}
    <script src="{{ asset('find-a-commercial-agreement/scripts/result_page.js') }}" ></script>
{% endblock %}
