{% extends 'base.html.twig' %}

{% block title %}Guided Match{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}{% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}
    <div class="--govuk-width-container">
        <div class="govuk-width-container">
            {{ include('includes/phase_banner.html.twig') }}
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="https://www.crowncommercial.gov.uk/">Home</a>
                    </li>
                    <li aria-current="Results" class="govuk-breadcrumbs__list-item"> Results</li>
                </ol>
            </div>
            <main class="govuk-main-wrapper" id="main-content" role="main">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div>
                            <h2 class="govuk-heading-xl page-title govuk-!-margin-bottom-2">Based on your answers, there
                                are </h2>
                            <h1 class="govuk-heading-xl page-title"><strong>{{ countFrameworks }} frameworks that match
                                    your needs
                                    {% if  countLots > 0 %}
                                        and {{ countLots }}
                                        {% if  countLots == 1 %}
                                            lot
                                        {% else %}
                                            lots
                                        {% endif %}

                                    {% endif %}

                                </strong></h1>
                        </div>
                        <div class="govuk-grid-column-one-quarter"><h2 class="govuk-heading-s">Contents:</h2>
                            <ul class="govuk-list govuk-list--bullet">
                                <li><a class="govuk-link" href="#recommendations">Recommendations</a></li>
                                <li><a class="govuk-link" href="#options">What are your options</a></li>
                                <li><a class="govuk-link" href="#definitions">Definitions</a></li>
                                <li><a class="govuk-link" href="#answers">Your answers</a></li>
                            </ul>
                        </div>

                        <div class="govuk-grid-column-three-quarters">
                            <h2 class="govuk-heading-l" id="recommendations">Recommendations</h2>
                            {% set lotstTitle = '' %}
                            {% for framework in frameworks %}
                                {% set lotstTitle = framework.lotsTitle %}
                                {{ include('results_page_items/recommendations.html.twig') }}
                            {% endfor %}

                            <h3 class="govuk-heading-l result-heading" id="options">What are your options?</h3>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>Read the framework documentation for
                                    {% for agreement in agreementsNames %}
                                        <a class='govuk-link'
                                           href="https://www.crowncommercial.gov.uk/agreements/{{ agreement.number }}"> {{ agreement.name }}</a>
                                    {% endfor %}
                                    to understand what's available
                                </li>
                                <li>
                                    <a class="govuk-link" href="https://www.crowncommercial.gov.uk/contact">Contact
                                        CCS</a>
                                    to get more information, or to start the buying process
                                </li>
                                <li>Use the buttons to start online procurement for your chosen framework</li>
                            </ul>

                            <h3 class="govuk-heading-l result-heading" id="definitions">Definitions</h3>
                            {% include "/results_page_items/definitions.html.twig" %}

                            <h3 class="govuk-heading-l result-heading" id="answers">Your answers</h3>
                            {% include "/results_page_items/answers.html.twig" with {'lotstTitle': lotstTitle} %}

                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}