<div class="govuk-body journey-answers">
   
        <div class="govuk-summary-list__row">
         <dl class="govuk-summary-list">
            <dt class="govuk-summary-list__key"> Your initial search phrase</dt>
            <dd class="govuk-summary-list__value"> {{searchBy}}</dd>
            <dd class="govuk-summary-list__value"></dd>
            </dl>
        </div>

        {% set index = 0 %}

        {% for answer in historyAnswered %}
            <div class="govuk-summary-list__row">
             <dl class="govuk-summary-list">
                <dt class="govuk-summary-list__key"> {{answer.question}}</dt>
                <dd class="govuk-summary-list__value"> {{answer.answerTxt}}</dd>
                <dd class="govuk-summary-list__value">
                    {% if changeAnswer == 1 %}
                        {% if  index >  0 %}
                        <a  aria-describedby="change-answer-{{index}}"
                         href="{{ 
                            path( 
                                'back-to-previous',
                                {
                                    'journeyId': journeyId,
                                    'journeyInstanceId': journeyInstanceId,
                                    'questionUuid': answer.prevQuestionId,
                                    'journeyHistory': journeyHistory, 
                                    'gPage': index,
                                }
                                )}}?q={{ searchBy }}&changeAnswer=1"
                        >Change</a>
                        {% else %}
                        <a aria-describedby="change-answer-{{answer.questionId}}" href="{{ path('start-journey', {'journeyUuid': journeyId})}}?q={{searchBy}}&changeAnswer=1">Change</a>
                        {% endif %}
                    {% endif %}    
                </dd>
                </dl>
        </div>
         <span class='hidden_msgs' id="change-answer-{{index}}">answer for guestion: {{answer.answerTxt}}</span>
        {% set index = index + 1 %}
        {% endfor %}
          
        {% if  agreementsNames is defined %}
        <div class="govuk-summary-list__row">
         <dl class="govuk-summary-list">
            <dt class="govuk-summary-list__key"> Framework(s)/Lot(s) recommended</dt>         
            <dd class="govuk-summary-list__value">
                {% for agreement in agreementsNames %}
                    {{agreement.name}}({{agreement.number}}){{ agreement.lotsTitle is empty  ? '' : ', ' ~  agreement.lotsTitle }}
                {% endfor %}
            </dd>
            <dd class="govuk-summary-list__value"></dd>
        </dl>
        </div>
         {% endif %}
    <div class="app-c-print-link">
        <a href="{{ path('start-journey', {'journeyUuid': journeyId})}}?q={{searchBy}}"> Start over to change your answers</a>  
    </div>
</div>