<div class="govuk-body journey-answers">
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Your initial search phrase</dt>
            <dd class="govuk-summary-list__value"> {{searchBy}}</dd>
            <dd class="govuk-summary-list__value"></dd>
        </div>

        {% set index = 0 %}

        {% for answer in historyAnswered %}
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> {{answer.question}}</dt>
            <dd class="govuk-summary-list__value"> {{answer.answerTxt}}</dd>
            <dd class="govuk-summary-list__value">
            {% if  index >  0 %}
            <a href="{{ 
                path( 
                    'back-to-previous',
                    {
                        'journeyId': journeyId,
                        'journeyInstanceId': journeyInstanceId,
                        'questionUuid': answer.prevQuestionId,
                        'journeyHistory': journeyHistory, 
                        'gPage': index,
                    }
                    )}}?q={{ searchBy }}&changeAnswer=1"
               >Change</a>
            {% else %}
             <a href="{{ path('start-journey', {'journeyUuid': journeyId})}}?q={{searchBy}}&changeAnswer=1">Change</a>
            {% endif %}
            </dd>
        </div>
        {% set index = index + 1 %}
        {% endfor %}
          
       
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Framework(s)/Lot(s) recommended</dt>         
            <dd class="govuk-summary-list__value">
            {% for agreement in agreementsNames %}
                {{agreement.name}}({{agreement.number}}), {{agreement.lotsTitle}}
            {% endfor %}
            </dd>
            <dd class="govuk-summary-list__value"></dd>
        </div>
    </dl>
    <div class="app-c-print-link">
        <a href="{{ path('start-journey', {'journeyUuid': journeyId})}}?q={{searchBy}}"> Start over to change your answers</a>
       
    </div>
</div>