<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
    {% for framework in frameworks %}
    {% if  framework is not empty %}
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ loop.index }}">
                    <h3 class="govuk-heading-m">{{ framework.name }}</h3>
                </span>
            </h2>
        </div>
        <div id="accordion-with-summary-sections-content-{{ loop.index }}" class="govuk-accordion__section-content">
            <p>
                <strong>Framework ID:</strong>
                {{ framework.number }}
                <strong>End Date:</strong>
                {{ framework.endDate|date("m/d/Y") }}
            </p>
            <p> {{ framework.description }}</p>
            <div>
                {% if  framework.lots is defined %}
                {% include "/results_page_items/lots.html.twig" %}
                {% endif %}
            </div>
            <br>
            <span class='hidden_msgs' id="new-window-{{ loop.index }}">{{ framework.name }} Open in a new tab</span>
            <a  target="_blank" class='view-framework-details-ulr govuk-button govuk-button--secondary'
            aria-describedby="new-window-{{ loop.index }}" data-module="govuk-button"
            href="https://www.crowncommercial.gov.uk/agreements/{{ framework.number }}">
            View framework details
        </a>
        
    </div>
</div>
{% endif %}
{% endfor %}
</div>