<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
    {% for framework in frameworks %}
    {% if  framework is not empty %}
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
                <div class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ loop.index }}">
                        {% if "now"|date('Y-m-d') > framework.endDate|date('Y-m-d') %}
                            <h3 class="govuk-heading-m govuk-!-margin-right-2" style="float:left" >{{ framework.name }}</h3>
                            <p class="govuk-tag ccs-tag ccs-tag--error">Expired: {{ framework.endDate|date("d/m/Y") }}</p>
                            <div class="govuk-warning-text">
                                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                <strong class="govuk-warning-text__text">
                                    <span class="govuk-warning-text__assistive">Warning</span>
                                        This agreement has expired. <a href="https://www.crowncommercial.gov.uk/contact">Contact CCS</a> for further help.
                                </strong>
                            </div>
                        {% else %}
                            <h3 class="govuk-heading-m govuk-!-margin-right-2">{{ framework.name }}</h3>
                        {% endif %}
                    </span>
            </div>
        </div>
        <div id="accordion-with-summary-sections-content-{{ loop.index }}" class="govuk-accordion__section-content">
            <p>
                <strong>Agreement ID:</strong>
                {{ framework.number }}
                <strong>End date:</strong>
                {{ framework.endDate|date("d/m/Y") }}
            </p>

            <div class="framework-description" style="font-family: Source Sans Pro"><p>{{ framework.description|raw }}</p></div>
           
            <div>
                {% if framework.lots is defined %}
                    {% include "/results_page_items/lots.html.twig" %}
                {% endif %}
            </div>

            <br>
            <span class='hidden_msgs' id="new-window-{{ loop.index }}">{{ framework.name }} Open in a new tab</span>
            <a  target="_blank" class='view-framework-details-ulr govuk-button govuk-button--secondary'
            aria-describedby="new-window-{{ loop.index }}" data-module="govuk-button"
            href="https://www.crowncommercial.gov.uk/agreements/{{ framework.number }}">Read agreement details</a>
        
        </div>
</div>
{% endif %}
{% endfor %}
</div>