<div id="error-summary" class="govuk-error-summary" role="alert" data-module="govuk-error-summary" 
style="display:{{ errorMessage is defined and showError is defined  ? 'block' : 'none' }}">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li id="error-summary-container">
        <span class="govuk-visually-hidden">Error:</span>
        {% if  errorsMessages is defined %}
          <div id="head-error-msg">
            <a href="#{{ definedAnswers is defined ? definedAnswers|first.id : journeys|first.journeyId ~ '-1'}}">
          
              {% if errorMessage is defined %}
                 {{ errorMessage|raw }}
              {% endif %}
              {% for errMssg in errorsMessages  %}
                  <div class='apiErrorsMsg resetErrors' data-error-type="{{errMssg.failureValidationTypeCode}}">
                        {{ errMssg.errorMessage|raw }}
                  </div>
              {% endfor %} 
            </a>   
          </div>         
      {% endif %}
      </li>
    </ul>
  </div>
</div>