<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{%- block title %}
            {%- if page.head.title is not empty and page.head.title != page.title -%}
                {{ page.head.title }}
            {%- else -%}
                {{ page.title|raw }} - CCS
            {%- endif -%}
        {% endblock -%}
    </title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block pageMetaTags %}{{ (page is defined)? page.head.getAllMetaHtml()|raw : '' }}{% endblock %}
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.ons.gov.uk/sdc/design-system/19.3.0/css/main.css"> -->
    {% if app.environment == "prod" %}
        <link rel="stylesheet" href="{{ asset ('find-a-commercial-agreement/styles/styles.min.css') }} ">
    {% else %}
        {# To debug CSS in other environments (not live), change the below to
         # styles.css instead of styles.min.css
         #}
        <link rel="stylesheet" href="{{ asset ('find-a-commercial-agreement/styles/styles.min.css') }} ">
    {% endif %}

     <script>

            window.readCookie = function (name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1, c.length);
                    }
                    if (c.indexOf(nameEQ) == 0) {
                        return c.substring(nameEQ.length, c.length);
                    }
                }
                return null;
            };

           var cookiePreferences = JSON.parse(readCookie('cookie_preferences'));
           if (cookiePreferences !== null) {
                    (function (w, d, s, l, i) {
                        w[l] = w[l] || [];
                        w[l].push({
                            'gtm.start':
                                new Date().getTime(), event: 'gtm.js'
                        });
                        var f = d.getElementsByTagName(s)[0],
                            j = d.createElement(s),
                            dl = l != 'dataLayer' ? '&l=' + l : '';
                        j.async = true;
                        j.src =
                            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                        f.parentNode.insertBefore(j, f);
                    })(window, document, 'script', 'dataLayer', 'GTM-5NQGRQN');

            }
        </script>
</head>

<body class="govuk-template__body">

<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5NQGRQN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>

<a class="skip-main" href="#main-content">Skip to main content</a>

<script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
</script>
{% block header %}
    {% embed '/includes/header.html.twig' %}
    {% endembed %}
{% endblock %}

{% block body %}{% endblock %}

{{ include('/includes/footer.html.twig') }}

{% block script %}
    <script src="{{ asset('find-a-commercial-agreement/scripts/all.js') }}"></script>
    <script src="{{ asset('find-a-commercial-agreement/scripts/app.js') }}"></script>
    <script>window.GOVUKFrontend.initAll();</script>
{% endblock %}

</body>
</html>
