<div class="govuk-radios">
    {{ dump() }}
    {% for answer in definedAnswers %}
        <div class="govuk-radios__item">
            {% set checked = '' %}
            {% if answer.id  in answers|keys %}
                {% set checked = 'checked = checked' %}
            {% endif %}

            <input class="govuk-radios__input v-selector" id="{{ answer.id }}" name="uuid" type="radio"
                   value="{{ answer.id }}" {{checked}}">
            <label class="govuk-label govuk-radios__label govuk-label--s" for="{{ answer.id }}">
                {{- answer.text -}}
            </label>
            {% if answer.hint is defined  and answer.hint is not empty %}
                <span class="govuk-hint govuk-radios__hint">{{- answer.hint -}}</span>
            {% endif %}
        </div>
        {% if answer.conditionalInput is defined %}
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                        {{ answer.conditionalInput.text }}
                    </label>
                    <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="{{ answer.conditionalInput.type }}" spellcheck="false">
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>