<div class="govuk-radios">
    {% for answer in definedAnswers %}
        <div class="govuk-radios__item">
            
            {% set checked = '' %}
            {% if answer.id  in answers|keys %}
                {% set checked = 'checked' %}
            {% endif %}

            <input class="govuk-radios__input v-selector" id="{{ answer.id }}" name="uuid" type="radio"
                   value="{{ answer.id }}" aria-describedby="sign-in-item-hint" {{checked}}>
            <label class="govuk-label govuk-radios__label govuk-label--s" for="{{ answer.id }}">
                {{- answer.text -}}
            </label>
            {% if answer.hint is defined  and answer.hint is not empty %}
                <span class="govuk-hint govuk-radios__hint">{{- answer.hint -}}</span>
            {% endif %}
        </div>
    {% endfor %}
</div>