<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                {{ text }}
            </h1>
        </legend>
{#        <span id="sign-in-hint" class="govuk-hint">#}
{#            Description#}
{#        </span>#}
        <div class="govuk-radios">
            {% for answer in definedAnswers %}
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="{{ answer.uuid }}" name="uuid" type="radio" value="{{ answer.uuid }}" aria-describedby="sign-in-item-hint">
                    <label class="govuk-label govuk-radios__label govuk-label--s" for="{{ answer.uuid }}">
                        {{- answer.text -}}
                    </label>
                    <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                        {{- answer.hint -}}
                    </span>
                </div>
            {% endfor %}
        </div>
    </fieldset>
</div>