<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
    {% for answer in definedAnswers %}
        <div class="govuk-radios__item">
            {% set checked = '' %}
            {% set answerValue = '' %}
            {% if answer.text  in userAnswers|keys %}
                {% set checked = 'checked = checked' %}
                {% set answerValue = userAnswers.answer %}
            {% endif %}
            <input class="govuk-radios__input v-selector" id="{{ answer.id }}" name="uuid" type="radio" value="{{ answer.id }}"
                   data-aria-controls="conditional-{{ answer.id }}" {{ checked }}>
            <label class="govuk-label govuk-radios__label" for="{{ answer.id }}">
                {{- answer.text -}}
            </label>
            {% if answer.hint is defined  and answer.hint is not empty %}
                <span class="govuk-hint govuk-radios__hint">{{- answer.hint -}}</span>
            {% endif %}
        </div>
        {% if answer.conditionalInput is defined %}
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden conditional-input" id="conditional-{{ answer.id }}">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="input-{{ answer.id }}">
                        {{ answer.conditionalInput.text }}
                    </label>
                    {% if answer.conditionalInput.hint is defined  and answer.conditionalInput.hint is not empty %}
                        <span class="govuk-hint govuk-radios__hint">{{- answer.conditionalInput.hint -}}</span>
                    {% endif %}
                    <span id="no-input" class="govuk-error-message" style="display: none">
                        <span class="govuk-visually-hidden">Error:</span> Please provide Input.
                    </span>
                    <input class="govuk-input govuk-!-width-one-third"
                           name="{{ answer.id }}"
                           value = "{{ answerValue }}"
                           type="{{ answer.conditionalInput.type }}" spellcheck="false"
                           id="input-{{ answer.id }}"
                           type="{{ answer.conditionalInput.type }}" min="1" step="0.01" pellcheck="false">
                </div>
            </div>
        {% endif %}
    {% endfor %}
     <input type='hidden' name='form-type' value='boolean'>
</div>
