<div class="govuk-radios">
    {% for answer in definedAnswers %}

        {% set checked = '' %}
        {% if answer.text  in userAnswers|keys %}
            {% set checked = 'checked = checked' %}
        {% endif %}
        
        {% if answer.order == definedAnswers|last.order and answer.text == "Other" %}
            <div class="govuk-radios__divider">or</div>
        {% endif %}

        <div class="govuk-radios__item">
            <input class="govuk-radios__input v-selector" id="{{ answer.id }}" name="uuid" type="radio"
                   value="{{ answer.id }}" {{ checked }} aria-describedby="no-selection">
            <label class="govuk-label govuk-radios__label govuk-label--s" for="{{ answer.id }}">
                {{- answer.text -}}
            </label>
            {% if answer.hint is defined  and answer.hint is not empty %}
                <span id="sign-in-item-hint-{{answer.id}}" class="govuk-hint govuk-radios__hint">{{- answer.hint|raw -}}</span>
            {% endif %}
        </div>
    {% endfor %}
     <input type='hidden' name='form-type' value='boolean'>
</div>