<div class="govuk-radios">
    {% for answer in definedAnswers %}
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="{{ answer.uuid }}" name="uuid" type="radio"
                   value="{{ answer.uuid }}" aria-describedby="sign-in-item-hint">
            <label class="govuk-label govuk-radios__label govuk-label--s" for="{{ answer.uuid }}">
                {{- answer.text -}}
            </label>
            {% if answer.hint is defined  and answer.hint is not empty %}
                <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">{{- answer.hint -}}</span>
            {% endif %}
        </div>
    {% endfor %}
</div>