<div class="govuk-checkboxes">
    {% for answer in definedAnswers %}

        {% set checked = '' %}
        {% if answer.text  in userAnswers|keys %}
            {% set checked = 'checked' %}
        {% endif %}

        {% if answer.order == definedAnswers|last.order or answer.mutuallyExclusive == true %}
            <div class="govuk-radios__divider">or</div>
        {% endif %}
        
        {% if answer.mutuallyExclusive == true %}
            <input type="hidden" name="mutuallyexclusive" value="{{answer.id}}">
        {% endif %}

        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input v-selector {{ answer.mutuallyExclusive ? 'e-button':'all-options' }}" 
            id="{{ answer.id }}" name="uuid[]" type="checkbox" {{checked}}
            value="{{ answer.id }}" aria-describedby="{{- answer.hint -}}" 
            onclick="{{ answer.mutuallyExclusive ? 'uncheckAll()':'uncheckMExclusive()' }}">

            <label class="govuk-label govuk-checkboxes__label" for="{{ answer.id }}" >{{- answer.text -}}</label>
            {% if answer.hint is defined  and answer.hint is not empty %}
                <span class="govuk-hint govuk-checkboxes__hint">{{- answer.hint -}}</span>
            {% endif %}
        </div>
    {% endfor %}
    <!-- Todo: this is question type 3 feature -->
    <!-- <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input v-selector all-options" 
        id="{{ definedAnswers|last.id }}a"  type="checkbox"
        onclick="uncheckMExclusive();toggle(this)">
        <label class="govuk-label govuk-checkboxes__label" for="{{definedAnswers|last.id }}">check all</label>
    </div> -->
    <input type='hidden' name='form-type' value='multiselect'>
</div>