<div class="govuk-checkboxes">
    {% for answer in definedAnswers %}
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="{{ answer.uuid }}" name="uuid" type="checkbox"
                   value="{{ answer.uuid }}">
            <label class="govuk-label govuk-checkboxes__label" for="{{ answer.uuid }}">{{- answer.text -}}</label>
            {% if answer.hint is defined  and answer.hint is not empty %}
                <span class="govuk-hint govuk-checkboxes__hint">{{- answer.hint -}}</span>
            {% endif %}
        </div>
    {% endfor %}
</div>