<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
    {% for answer in definedAnswers %}
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="{{ answer.uuid }}" name="uuid" type="radio" value="{{ answer.uuid }}">
            <label class="govuk-label govuk-radios__label govuk-label--s" for="{{ answer.uuid }}">
                {{- answer.text -}}
            </label>
            {% if answer.hint is defined  and answer.hint is not empty %}
                <span class="govuk-hint govuk-radios__hint">{{- answer.hint -}}</span>
            {% endif %}
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden">
            <div class="govuk-form-group">
                <label class="govuk-label" for="input-id">
                    {{ answer.input.text }}
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="input-id" name="input-name"
                       type="{{ answer.input.type }}" spellcheck="false">
            </div>
        </div>
    {% endfor %}
</div>